p,
span,
strong {
  font-size: 16px !important;
}

// .v-input:focus {
//   border: #f9f9fa87 !important;
// }
.date {
  font-size: 0.7em !important;
  color: #b2aeae !important;
}
a {
  text-transform: none !important;
}
.titre {
  font-size: 1.5em !important;
}
.pseudo {
  text-transform: capitalize !important;
  color: #b6b6b6 !important;
  font-size: 25px !important;
}

.nav {
  box-shadow: 0em 0em 1.3em #03164f87 !important;
  border-radius: 0 0 0.6em 0.6em !important;
}

.v-main {
  background-image: url("../src/assets/bg-main.jpg");
  background-repeat: repeat;
  background-size: cover;
  // width: 100%;

  background-attachment: fixed;
}
.test-feed {
  border-radius: 0.7em !important;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.bandeau {
  box-shadow: 0em 0em 1.3em #03164f87;
  background-color: #1e1e1e;
  border-radius: 1em !important;
}

.btn-home {
  // color: #ffffff !important;

  &:hover {
    background-color: #01579b !important;
    color: white !important;
  }
}

.btn-logout {
  color: #ffffff !important;
  &:hover {
    background-color: #501515 !important;
    color: rgb(255, 255, 255) !important;
  }
}

// //header

// //footer
.footer {
  display: flex;
  align-content: center;
  // padding: 2px !important;
  height: 50px !important;
  width: 100%;
  box-shadow: 0em 0em 1.3em #03164f87 !important;
  border-radius: 0.6em !important;
}

// /////////containers
// //feed
.feed-container {
  margin-bottom: 50px;
  margin-left: 0 !important;
  position: relative;
}

.posts-header {
  border-radius: 1em !important;
  box-shadow: 0em 0em 1.3em #03164f87 !important;
}
.bloc {
  position: fixed;
  // padding-top: 1em;
  margin: auto !important;
  top: 58px;
  left: 0;
  right: 0;
  z-index: 1;
}
.bloc2 {
  position: relative;
  margin-top: 62px;
}
.co-li {
  color: #b2aeae;
  & .comments {
    margin: 0.5em;
  }
  & .likes {
    margin: 0.5em;
  }
}
.like-btn {
  color: gray !important;
}
.comments-btn {
  color: #b2aeae !important;
}
// //others
.credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.credentials-layout {
  position: relative;
  justify-content: center;
}

.credentials-box {
  box-shadow: 0em 0em 1.3em #03164f87;
  background-color: #1e1e1e;
  border-radius: 1em !important;
  padding: 0 !important;
}
.credentials-card {
  // background-image: url("../src/assets/bg-light.jpg");
  // background-repeat: repeat;
  padding: 2em !important;
  border-radius: 1em !important;
  &__submit {
    margin: auto;
    padding-bottom: 20px;
  }
}

.titre {
  font-size: 1.4em !important;
  &_new {
    font-size: 1.2em !important;
    color: white !important;
  }
}
.message {
  margin-left: 1.2em !important;
  border: none !important;
}

@media (max-width: 640px) {
  .credentials-box {
    margin-left: 0 !important;
  }
}

// profile

.settings {
  font-size: 2em !important;
  color: gray !important;
  text-transform: capitalize !important;
}

.post-box {
  height: 100%;
  padding-bottom: 5em;
}
.post-title-box {
  background-color: #424242 !important;
}
.post-title {
  color: white;
  font-weight: 600 !important;
  font-size: 20px;
  margin-left: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-date {
  display: flex;
  flex-direction: column;
}

.posts-row {
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .post-title {
    margin-left: -0.5em;
  }
}
.post-options {
  margin-top: 1rem;
  display: flex;
}
.update-title {
  display: flex;
  justify-content: space-between;
}
.comment__message {
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .comment__message {
    max-width: 350px;
  }
}

.comment-form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &__btn {
    margin-left: 1rem;
    margin-top: 0.33rem;
  }
}
//new post
.title-input {
  width: 500px !important;
}
//statut
.bloc-statut {
  display: flex;
  align-items: center;
}
.post-card {
  margin-top: 3em;
}

.comment {
  display: grid !important;
  grid-template-columns: 0.1fr 1fr auto !important;
}
.v-avatar {
  margin: 0 !important;
}
.comment__message {
  max-width: 100% !important;
}

.comment-user {
  display: flex;
  flex-direction: column;
}

// .grid-container {
//   display: grid;
//   grid-template-columns: .2fr 2fr .2fr;
//   grid-gap: 10px;
//   background-color: #2196F3;
//   padding: 10px;
// }

// .grid-container > div {
//   background-color: rgba(255, 255, 255, 0.8);
//   text-align: center;
//   padding: 20px 0;
//   font-size: 30px;
// }
